<?xml version="1.0" encoding="UTF-8"?>
<web-app>
   <servlet>
      <servlet-name>accueil</servlet-name>
      <servlet-class>Accueil</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>accueil</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>authentification</servlet-name>
      <servlet-class>AuthentificationServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>authentification</servlet-name>
      <url-pattern>/authentification</url-pattern>
   </servlet-mapping>
</web-app>